.SearchBox {
    position: relative;
    width: 50%;
    height: 6vh;
    display: flex;
    box-shadow: inset -2px 0px 5px #7824ff;
}

.SearchBox:hover input {
    width: 75%;
    transition: all 0.75s ease-in-out;
}

.SearchBox input {
    width: 0;
    height: 50%;
    margin: auto;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: all 0.75s ease-in-out;
}

.SearchBox input:hover {
    border-bottom: 1px solid #7824ff80;
}

.SearchBox input:active {
    border-bottom: 1px solid #7824ff;
}

.SearchBox .fa-search {
    font-size: 1.75em;
    color: rgb(120, 36, 255);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Under 426px */
@media(max-width: 426px) {
    .SearchBox {
        width: 100%;
    }
}