.SearchBox {
    margin: 0 auto 2% auto;
    width: 30vw;
}

.SearchBox input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.SearchBox input:hover {
    border-bottom: 1px solid #7824ff80;
}

.SearchBox input:active {
    border-bottom: 1px solid #7824ff;
}

/* Under 426px */
@media(max-width: 426px) {
    .SearchBox {
        width: 100%;
    }
}