* {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

#completion-message {
  margin: 10px auto;
}

#success-icon + span,
#error-icon + span {
  background-color: rgb(255, 254, 254, 0.9);
  padding: 0.5%;
}

#success-icon,
#error-icon,
#success-icon + span,
#error-icon + span {
  font-size: 2rem;
}

#success-icon {
  color: green;
  margin-right: 5px;
}

#error-icon {
  color: red;
  margin-right: 5px;
}

/*BreadCrumb*/
[data-test="breadcrumb"] {
  display: block;
}

.breadcrumb-item,
.breadcrumb-item[active] {
  font-size: 1rem;
}

.breadcrumb-item a:hover {
  text-decoration: none;
}

.carousel {
  height: 100%;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  width: 30px !important;
  height: 30px !important;
  border: 0px solid rgb(187, 185, 185);
  border-radius: 100%;
  background-color: rgb(187, 185, 185);
}

form {
  text-align: start;
  width: 90%;
  margin: 0 auto;
}

form button {
  width: 35%;
}

.accordion {
  margin-top: 1%;
  margin-bottom: 1%;
}

.accordion .card {
  background-color: rgb(218, 218, 253);
  box-shadow: none;
}

.accordion .card-header {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
}

.card-body {
  background-color: whitesmoke;
}

.card:first-child .card-body div {
  font-family: "Roboto", sans-serif;
  text-align: start;
  width: 90%;
  margin: 0 auto;
}

.card-body:first-of-type div p,
.card-body:first-of-type div strong,
.card-body:first-of-type div ul,
.card-body:first-of-type div li {
  font-size: 1.15rem;
}

.certification-container img {
  width: 70%;
  height: 70%;
}

.certification-title {
  height: 24px;
}

.technical-details-col1 div,
.technical-details-col2 div {
  margin-left: 90px;
  margin-top: 50px;
  font-weight: 700;
}

.jumbotron {
  margin-bottom: 0 !important;
  height: 100%;
  font-size: 1.5rem !important;
}

/* .jumbotron text */
.text-white p {
  font-size: 1.2rem;
}

.text-white h4 {
  font-size: 1.5rem;
}

.info a:link,
.info a:visited,
.info a:active {
  color: white !important;
  background-color: rgb(49, 136, 207);
  font-size: 1.2em;
  border: 0.5px solid rgb(49, 136, 207);
  padding: 2%;
  text-decoration: none;
}

.info a:hover {
  background-color: rgb(16, 50, 78);
  box-shadow: 1px 0.5px 10px rgb(255, 255, 255);
}

/*XSM*/
@media only screen and (min-width: 300px) and (max-width: 575px) {
  .text-white p,
  .text-white h4 {
    margin: 0;
    padding: 0;
  }

  * {
    font-size: 12px;
  }

  #success-icon,
  #error-icon,
  #success-icon + span,
  #error-icon + span {
    font-size: 0.8rem;
  }

  .MdbLink-Span {
    display: none;
  }

  .breadcrumb {
    flex-direction: column;
  }
}

#alsoInterested {
  height: 30vh;
  position: sticky;
}

.view {
  height: 100% !important;
}

#alsoInterestedHeader {
  background-color: rgba(185, 182, 182, 0.027);
  padding: 2%;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 300px) {
  #alsoInterested {
    height: 40vh;
  }

  #success-icon,
  #error-icon,
  #success-icon + span,
  #error-icon + span {
    font-size: 1.1rem;
  }
}

/*sm*/
@media only screen and (min-width: 576px) {
  #alsoInterested {
    height: 50vh;
  }

  * {
    font-size: 14px;
  }

  #success-icon,
  #error-icon,
  #success-icon + span,
  #error-icon + span {
    font-size: 1.3rem;
  }
}

/*md*/
@media only screen and (min-width: 768px) {
  #alsoInterested {
    height: 65vh;
  }

  * {
    font-size: 14px;
  }

  #success-icon,
  #error-icon,
  #success-icon + span,
  #error-icon + span {
    font-size: 1.4rem;
  }
}

/*lg*/
@media only screen and (min-width: 992px) {
  .info a:link,
  .info a:visited,
  .info a:active {
    font-size: 1.1rem;
  }

  #success-icon,
  #error-icon,
  #success-icon + span,
  #error-icon + span {
    font-size: 1.7rem;
  }

  .text-white h4 {
    font-size: 1.1rem;
  }

  #alsoInterested {
    height: 40vh;
  }
}

/*xl*/
@media only screen and (min-width: 1200px) {
  #alsoInterested {
    height: 50vh;
  }
}
