.container{
    width: 99vw;
    height: 60vh;
    margin: 30px auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
}

.col1{
    
    background-color: #fff;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image{
    display: flex;
    flex-direction: row;
    height: 45%;
}

.arrows{
display: flex;
align-items: center;
justify-content: center;
width: 10%;
}

.arrows2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

#left-arrow,#right-arrow{
    font-size: 35px;
    text-align: center;
    padding: 7px;
    border: 3px solid #fff;
    background-color: rgb(247, 243, 243);
    border-radius: 100%;
}

.col1 img{
 width: 80%;
 
 /* border-right: 0.1px solid rgb(245, 242, 242);
 border-bottom: 0.1px solid rgb(245, 242, 242); */
 
}



.col2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.col2-infoBox{
    width: 75%;
    height: 20%;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 2%;
    margin-top: 35px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.col2-container h3,p,.info{
    
    margin:10px 25px 25px 20px;
}

.col2 p{
    text-align: justify;
}

.col2 h3{
   margin-left: 20px;
}

.col2-contactForm{
    border: 1px solid #f7f7f7;
    border-radius: 2%;
    width: 75%;
    height: 25%;
    margin:20px;
    background-color:#f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.col2-contactForm .header{
    width: 100%;
    height: 10%;
    background-color:#ffec82 ;
    text-align: center;
    padding-top: 10px;
    font-size: 1.3rem;
    letter-spacing: 0.7;
    font-weight: 600;
}

.col2-contactForm .logo{
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.logo div{
    margin-left: 15px;
}

.sigfox-logo img{
    height: 80px;
    width: 120px;
}

.sigfox-logo-contact-text{
    margin-top: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    
}


.contact-form-footer p{
    font-size: 0.55rem;
    padding-bottom:0px;
    text-align: justify;
}

#contactUs .contact-form{

    margin:5px auto;
    padding : 0 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

input{
    width: 90%;
    height: 30px;
    padding: 3px 10px;
    margin: 0px auto 10px auto;
    border: 1px solid #f7f7f7;
    border-radius: 7%;
}


#message{
    width: 95%;
    height: 120px;
    padding: 3px 10px;
    margin: 0px auto 10px auto;
    border: 1px solid #f7f7f7;
    border-radius: 7%;
    resize: none;
    

}

#message-icon {
    padding-top: 2px;
    margin-right: 5px;
}

button{
    width: 95%;
    height: 30px;
    padding: 5px;
    border: 1px solid #f7f7f7;
    background-color: #ffe869;
    border-radius: 2%;
    cursor: pointer;
    
}
.info
{
    border: 1px solid #666;
    background-color: #ffe869;
    border-radius: 2%;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;

} 



.info a:link,
.info a:visited{

    text-decoration: none;
    color: black;
}

.info:hover,.info:active,button:hover{
    background-color:#fade42;
    box-shadow: 0px 0px 10px blanchedalmond;
}



.general p{
    width: 85%;
    padding-left: 60px;
    padding-top: 30px;
    line-height: 140%;
    word-spacing: normal;
    color: rgb(100, 100, 100);
}

p ul, p ul:nth-child(2){
    margin-left: 50px;
}







.product-zoom {
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.product-zoom a{

    padding-left: 4px;
    color: #666;
    font-size: 1.2rem;
    text-decoration: none;
    
}

#search-icon{
    margin-top: 4px;
    font-size: 20px;
}


.card-postal{
    width:100%;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
}

.card-postal img{
    width: 80px;
    height: 80px;
    margin: 0px 15px;
    padding: 0px;
}

.card-postal img:first-child{
    border: 1px solid rgb(48, 45, 45);
}

.tabs a:link,.tabs a:active,.tabs a:visited{
    text-decoration: none;
    color: rgb(56, 54, 54);
    margin-right:15px ;
    
}

.tabs a:first-of-type,.certification-header a,.technical-details-header a{
    padding-bottom: 10px;
    border-bottom: 3px solid purple;
}

.tabs{
    width: 80%;
    margin-left: 100px;
    border-bottom: 1px solid #f3eaea;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.certification-header,.technical-details-header{
    border-bottom:1px solid #f3eaea;;
    margin-bottom: 300px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 30px;
    width: 80%;
    margin-left: 90px;
}

.certification-body{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}

.certification-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 100px;
    margin-top: 10px;

}



.certification-image{
    width: 250px;
    
}

.certification-ce{
    width: 200px;
    height: 150px;
    margin-top: 50px;
    
}


.technical-details-col1 div ,.technical-details-col2 div{
    margin-left: 90px;
    margin-top: 50px;
    
    font-weight: 700;
}

.technical-details-col2 div{

    margin-top: 45px;
    margin-bottom: 5px;

}







.technical-details-body{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.also-interested-in{
    margin-top: 100px;
    background-color: #fcfcfc;
    width: 100vw;
    justify-content: center;
    margin: 0px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h2 {
    text-align: center;
    word-spacing: 2px;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    background-color:#4182ff;
    content: " ";
    margin:0 auto;
    margin-top: 30px;
    width: 100px;
}
