.Products {
    margin-top: 20px;
    padding: 30px;
}

.UtilityBar {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-around;
}

.Big-Container a:link,
.Big-Container a:visited {
    text-decoration: none;
    color: #2b251d;
}

.pageProducts {
    width: 100%;
}

/* Under 426px */
@media(max-width: 426px) {
    .UtilityBar {
        flex-direction: column;
    }
}