.QuickSearch {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 30vh;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    overflow-x: hidden;
}

.QuickSearch .card-container {
    margin: auto;
    width: 98%;
    height: auto;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.QuickSearch .card-container:hover {
    transform: none;
    background-color: #7824ff;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.QuickSearch .card-container:hover .card-title-description h1,
.QuickSearch .card-container:hover .card-title-description h4 {
    color: #fff;
}

.QuickSearch .card-title-description {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background-color: transparent;
}

.QuickSearch .card-image {
    width: 20%;
}

.QuickSearch a {
    display: flex;
}

.QuickSearch a:hover {
    text-decoration: none;
}

.QuickSearch img {
    margin: 0 !important;
}

.QuickSearch .card-title-description h1,
.QuickSearch .card-title-description h4 {
    margin: auto;
    color: #7824ff;
}

.fade-appear {
    opacity: 0.01;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.QuickSearch::-webkit-scrollbar {
    width: 20px;
}

.QuickSearch::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.QuickSearch::-webkit-scrollbar-thumb {
    background: #7824ff80;
    border-radius: 10px;
}

.QuickSearch::-webkit-scrollbar-thumb:hover {
    background: #7824ff;
}