.GroupBy {
    width: 20vw;
}

.GroupBy .dropdown {
    display: flex;
    box-shadow: -1px 1px 3px #7824ff;
    cursor: pointer;
    width: 10vw;
    position: relative;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.GroupBy .dropdown:hover {
    width: 100%;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.GroupBy .dropdown-header {
    padding-bottom: 0;
}

.GroupBy .dropdown-header-holder {
    margin: auto;
}

.GroupBy .dropdown-header-holder span {
    position: relative;
    left: 0;
    color: #6c757d;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.GroupBy .dropdown-list-item-anchor text {
    padding-right: 2px;
}

.GroupBy .dropdown-list-item-anchor span {
    color: #6c757d;
}

.GroupBy .dropdown:hover .dropdown-list-holder {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    width: 10vw;
}

.GroupBy .dropdown:hover>.dropdown-header-holder>span {
    color: #7824ff;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
    left: 15%;
}

.GroupBy .dropdown-list-holder {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    width: 0;
}

.GroupBy .dropdown-list {
    color: #6c757d;
    font-size: .875rem;
    margin-bottom: 0;
}

.GroupBy .dropdown-list-item {
    list-style-type: none;
}

.GroupBy .dropdown-list-item-anchor:hover {
    color: #7824ff !important;
    font-weight: 900;
}

.GroupBy .dropdown-list-item-anchor:hover text {
    padding-right: 5px;
}

.GroupBy .dropdown-list-item-anchor:hover span {
    color: #7824ff;
}