.GroupBy .dropdown-list {
  color: #6c757d;
}

.GroupBy .dropdown-list-item {
  display: inline;
  padding: 20px;
  font-weight: 700;
}

.GroupBy .dropdown-list-item-anchor span {
  color: #6c757d;
  padding: 5px;
}

.GroupBy .dropdown-list-item-anchor:hover,
.GroupBy .dropdown-list-item-anchor:hover span {
  color: #7824ff !important;
}

@media (max-width: 675px) {
  .GroupBy .dropdown-list-item {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .GroupBy .dropdown-list-item-anchor span {
    padding: 0;
  }
}
