.GlobalSearchBox {
  position: relative;
  width: 50%;
  display: flex;
  margin: 10px auto;
}

.GlobalSearchBox input {
  width: 75%;
  margin: auto;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: all 0.75s ease-in-out;
}

.GlobalSearchBox input:hover {
  border-bottom: 1px solid #7824ff80;
}

.GlobalSearchBox input:active {
  border-bottom: 1px solid #7824ff;
}

.GlobalSearchBox .fa-search {
  font-size: 1.5rem;
  color: rgb(120, 36, 255);
  position: absolute;
  right: 1.75rem;
  top: 50%;
  transform: translateY(-50%);
}
