.Sidebar {
    position: relative !important;
    background-color: #e7e7e7 !important;
    border-right: 1px solid #7824ff1a;
}

.sidenav---icon-bar---u1f02 {
    background-color: #7824ff !important;
}

.sidenav---sidenav-subnavitem---1cD47 {
    color: #7824ff !important;
}

.sidenav---navtext---1AE_f {
    color: #7824ff !important;
}