.Sidebar {
    position: relative !important;
    background-color: transparent !important;
    height: 100vh;
}

.sidenav---icon-bar---u1f02 {
    background-color: #7824ff !important;
}

.sidenav---sidenav-subnavitem---1cD47 {
    color: #7824ff !important;
}