.App {
  text-align: center;
  display: flex;
  margin: auto 5%;
}

.Fullwidth {
  width: 100%;
  margin-bottom: 10px;
}

.Products {
  text-align: center;
}

.CardItem {
  width: 35%;
}

.fWohKN {
  z-index: 1020;
  outline: none !important;
}

.Span-Style {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(154, 95, 248, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.Span-Style:hover {
  background-color: rgba(154, 95, 248, 1);
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}
