.App {
  text-align: center;
  display: flex;
  margin: auto 5%;
}

.Fullwidth {
  width: 100%;
}

.Products {
  text-align: center;
}

.CardItem {
  width: 35%;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}